.sidebar {
    height: 100%;
    background-color: rgb(255, 255, 255);
}
.sidebar ul {
    margin: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.sidebar ul li {
    text-decoration: none;
    list-style: none;
    text-align: center;
    border-bottom: 1px solid black;
    padding: 1rem 1rem;
    width: 100%;
    font-size: 1.2rem;
    color: black;
}
.sidebar ul li:hover {
    background-color: rgb(62, 62, 62);
    color: white;
}

li:hover{
    cursor: pointer;
}